body {
    opacity: 1;
    transition: 1s opacity;
    font-family: 'PT Sans', sans-serif;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

.btn-home	{
	width: 200px;
}

.centered	{
	margin: 0 auto;
	display: table;
	text-align: center;
	margin-top: 50%;

}

.center-page	{
	margin: 0 auto;
	display: table;
	text-align: center;
	margin-top: 5%;

}

.to-top	{
	margin-top: 35%;
}

.body-struttura	{
	background-color: #2c3336;
	color: #fff;
}

.body-rivestimento	{
	background-color: #7e8d86;
	color: #fff;
}

.body-membrana	{
	background-color: #3d6f72;
	color: #fff;
}

.body-circolazione	{
	background-color: #264c64;
	color: #fff;
}

.body-filtrazione	{
	background-color: #31739f;
	color: #fff;
}


.footer p {
	margin: 0 0 2px !important;
}
.footer {
	position: absolute;
	bottom: 10%;
	width: 100%;
	text-align: center;
	font-size: 12px;
  }
  
  .footer .totale	{
	  font-size: 25px;
  }
  
 .select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
} 

.menu-bar-item	{
	width: 30%;
	display: inline-block;
	margin-top: 25px;
}
